.App {
  text-align: center;
  background-color: #282c34;
  color: #fff;
  min-height: 100vh;
}
h1{
  margin: 0;
}
.header{
  background-color: gray;
  padding: 8px;
}
.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px;
}
.movie{
  background-color: aqua;
  padding: 3px;
  text-align: start;
  margin-top: 10px;
}
.movie img{
  width: 300px;
  height: 400px;
}
