button{
    padding: 1em;
    border-radius: 1em;
}
button:hover{
    background-color: green;
    color: white;
}
button.darkMode, .lightMode button{
    background-color: black;
    border: 1px solid yellow;
}
button.lightMode, .darkMode button{
    background-color: #ccc;
    border: 1px solid black;
}