.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  color: white;
  background-color: rebeccapurple;
  padding: 8px;
  width: 100%;
}
h1{
  margin: 0;
}
.form{
  margin-top: 10px;
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.data_val{
  display: flex;
  justify-content: space-between;
  width: 50%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  align-items: center;
}